@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
.App {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  background-color: #262626;
  color: #ffffff;
  min-height: 100vh;
  
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
  width: auto;
}

h1 {
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  margin-top: 0em;
  margin-bottom: 0.3em;
}

body {
  margin: 0;
}

textarea {
  outline: none;
}

button {
  cursor: pointer;
}

input[type=text] {
  font-size: 1.3em;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Typography
- Links
- Buttons
- Media Queries
*/

/* REMINDER
- Modify .App because it's global
*/

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Good resource to find font styles that support Japanese letters: https://www.freejapanesefont.com/
I might update with a feature that supports changing font styles.
*/

/*Noto Serif JP*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

.kanji {
  font-size: 3em; 
  font-family: 'Noto Serif JP', serif;
}

.hiragana {
  font-size: 1.5em;
  font-family: 'Noto Serif JP', serif;
}

.translate {
  font-size: 1em;
}

.about {
  font-size: 1.1em;
  font-family: 'Noto Serif JP', serif;
}

.bigfont {
  font-size: 3em;
}

.medfont {
  font-size: 1.5em;
}

.score {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-flow: column;
}

.score span {
  font-size: 1.3em;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main-section {
  min-height: 10vh;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  
  min-height: 70px;
  max-width: 900px;
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 20px;
  margin: 0 auto;
}

.header button {
  display: none;
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .header {
    justify-content: space-between;
  }

  .header button {
    display: block;
  }
}

.footer {
  display: flex;
  color: #FCFCFC;
  min-height: 70px;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
}

.progress {
  background: linear-gradient(to right, #F9EC31 var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 4px;
  z-index: 1;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.practiceinput {
  text-align: center;
  width: 80%;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn {
  margin: 0.5em;
  padding: 1em;
  min-width: 120px;
  border-radius: 4px;
  border: 1px solid #bbb;
  background-color: transparent;
  color: #FCFCFC;
  transition: 0.25s;
}

.btn:hover {
  background-color: #313131;
}

.logo {
  font-family: 'Noto Serif JP', serif;
  font-size: 2.5em;
  color: #FCFCFC;
}

.logo:hover {
  color: #FCFCFC;
  text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

.button-links {
  margin-top: 1em;
  display: flex;
  flex-flow: column wrap;
}

@media (min-width: 550px) {
  .button-links {
    display: block;
  }

  .button-links #practice {
    display: none;
  }
}

.footer button {
  min-width: 50px;
  min-height: 50px;
  font-size: 1.5em;
  border-radius: 10em;
  background-color: #262626;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 1);
  color: #bbb;
  border: 2px solid #bbb;
  
  position: absolute;
  bottom: 0.5em;
  right: 10%;
}

.footer button:hover {
  background-color: #313131;
  box-shadow: 0 4px 8px 0px rgb(44, 44, 44);
}

.xbutton {
  font-family: 'Work Sans', sans-serif;
  cursor: pointer;
  position: absolute;
  font-size: 1.5em;
  font-weight: 700;
  top: 0;
  right: 0.4em;
}

.xbutton:hover {
  color: #313131;
  text-shadow: 
      -2px 2px 0px rgba(0, 0, 0, 0.5);
}

.plusbutton {
  font-size: 5em;
  font-weight: 700;
  color: #262626;
}

#practice {
  padding: 1.2em 0;
  font-size: 1em;
}

.cancelpractice {
  min-width: 50px;
  min-height: 50px;
  font-size: 1.5em;
  border-radius: 10em;
  background-color: #262626;
  color: #bbb;
  border: 2px solid #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.cardlist {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap; /* avoid overflowing, move next card to next row */
}

.smallcard {
  min-width: 300px;
  min-height: 8em;
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  margin: 0.5em;
  
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  border-radius: 8px;
  transition: 0.25s;

  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.2);
  background-color: #EAEAEA;
  color: #000000;   
}

.smallcard:hover {
  box-shadow: 0 8px 16px 2px rgba(248, 248, 248,0.2);
  background-color: #FCFCFC;
  color: #111111;
}

.largecard {
  width: 50%;
  height: 40vh;
  min-width: 300px;
  min-height: 200px;
  max-height: 300px;
  margin: 0.5em auto;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  border-radius: 8px;
  transition: 0.25s;

  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.2);
  background-color: #EAEAEA;
  color: #000000;
}

.largecard input {

  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #5b5b5b;

  align-self: center;
  text-align: center;
  width: 65%;
  min-width: 250px;
  margin: 0.2em 0;
}

.resultcard {
  min-width: 300px;
  min-height: 8em;
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  margin: 0.5em;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  border-radius: 8px;
  transition: 0.25s;

  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.2);
  color: #000000; 
}

#true {
  background-color: #6bbd63;
  color: #130000; 
}

#false {
  background-color: #FF6860;
  color: #412a2a;
}

.resultcard .lefttext {
  font-size: 0.8em;
  font-weight: 600;
  text-align: left;
  margin: 0 0 0.05em 1em;
}

.resultcard .righttext {
  font-size: 1.2em;
  text-align: right;
  margin: 0 1em 0.05em 0;
}

.settingoption {
  min-width: 300px;
  min-height: 2em;
  padding: 0.5em;
  margin: 0.5em;

  font-size: 1.5em;
  
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  border-radius: 8px;
  transition: 0.25s;

  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.2);
  background-color: #EAEAEA;
  color: #000000;
}

.settingoption:hover {
  box-shadow: 0 8px 16px 2px rgba(248, 248, 248,0.2);
  background-color: #FCFCFC;
  color: #111111;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/* Larger than tablet */
@media (min-width: 750px) {
  .smallcard {
    border: 0px solid red      
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .smallcard {
    border: 0px solid black      
  }
}
