.App {
  text-align: center;
}

.main-section {
  min-height: 100vh;
}

.header-btn {
  margin: 0 2em;
  padding: 1em 2em;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
} 

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 100px
}

article {
  flex: 0 24%;
  max-width: 180px;
  height: 200px;
  margin-bottom: 2%; /* (100-24*5)/2 */
  border: 1px solid black
}
